html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Background on the whole page */
body {
  min-height: 100vh;
  background: url("../images/bg.jpg") no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

/* Profile picture styling */
.profile-pic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  opacity: 80%;
}


.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;              
  margin: 30px auto;
  max-width: 1000px;
  flex-wrap: wrap;        
}


.style-card {
  flex: 1;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  text-align: left;
}

.style-card h3 {
  margin-top: 0;
  color: #f0f0f0;
}

.style-card ul {
  list-style-type: none;
  padding: 0;
}

.style-card a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.style-card li {
  font-family:'Roboto', sans-serif;
}
